/*   Home */
*{
    font-family: 'Roboto', sans-serif;
}
.title-homepage{
    position: absolute;
    top : 250px;
    left: -70px;
    width: 100%;
    transform: rotate(180deg);
    font-size:57px;
    color: #0000006d;
}
.eq{margin: 40px auto 0;
width:  2%;
border-radius: 7px;
height: 500px;
background-color:rgb(132, 132, 130);
animation-name: column1;
animation-duration: 1.5s;
animation-iteration-count:infinite;
animation-timing-function: linear;
    }@keyframes column1{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
    }
.eq2{
    animation-name: column2;
    animation-duration: 1.6s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column2{
        0%{
            height: 400px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 400px;
        }
    }
.eq3{
    animation-name: column3;
    animation-duration: 1.7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column3{
        0%{
            height: 400px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 400px;
        }
    }
.eq4{
    animation-name: column4;
    animation-duration: 1.8s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column4{
        0%{
            height: 400px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 400px;
        }
}
.eq5{
    animation-name: column5;
    animation-duration: 1.9s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column5{
        0%{
            height: 400px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 400px;
        }
}
.eq6{
    animation-name: column6;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column6{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq7{
    animation-name: column7;
    animation-duration: 1.9s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column7{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq8{
    animation-name: column8;
    animation-duration: 1.8s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column8{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq9{
    animation-name: column9;
    animation-duration: 1.9s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column9{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq10{
    animation-name: column10;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column10{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq11{
    animation-name: column11;
    animation-duration: 1.9s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column11{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq12{
    animation-name: column12;
    animation-duration: 2.3s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column12{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq13{
    animation-name: column13;
    animation-duration: 2.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column13{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq14{
    animation-name: column14;
    animation-duration: 2.2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column14{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq15{
    animation-name: column15;
    animation-duration: 1.9s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column15{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq16{
    animation-name: column16;
    animation-duration: 2.2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column16{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq17{
    animation-name: column17;
    animation-duration: 1.8s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column17{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq18{
    animation-name: column18;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column18{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq19{
    animation-name: column19;
    animation-duration: 1.7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column19{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq20{
    animation-name: column20;
    animation-duration: 1.9s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column20{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq21{
    animation-name: column21;
    animation-duration: 1.6s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column21{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq22{
    animation-name: column22;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column22{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq23{
    animation-name: column23;
    animation-duration: 1.7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column23{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.eq24{
    animation-name: column24;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    }@keyframes column24{
        0%{
            height: 500px;
        }
        50%{
            height: 50px;
        }
        100%{
            height: 500px;
        }
}
.promo {
    margin: 0 auto;
    display: flex;
    background-color:rgb(230, 230, 222);
    position: relative;
}
.tabsconteiner{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 98vw;
    min-height: 620px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    color: #070606;
}

.tabscontent{
    margin: 0 auto;
    position: relative;
    height: 700px;
}
.tab-img {
    width: 600px;
    height: 450px;
    background: url(../../img/A1.jpg) center center/cover no-repeat;
} 
.img2{
    background: url(../../img/A2.jpg) center center/cover no-repeat;
}
.img3{
    background: url(../../img/A3.jpg) center center/cover no-repeat;
}
.img4{
    background: url(../../img/A3.jpg) center center/cover no-repeat;
}
.img5{
    background: url(../../img/A5.jpg) center center/cover no-repeat;
}  

.tabsdescr{
    position: absolute;
    padding: 20px;
    top: 350px;
    max-width: 600px;
    min-height: 250px;
    background-color:#363a3fb7;
    font-size: 19px;
    font-weight: 400;
    text-align: start;
    line-height: 28px;
    color: rgb(255, 255, 255);
}
.tabsheader{
    margin: 0 auto;
    max-width: 38%;
    font-size: 26px;
    position: relative;
}
.tabs__column{
    position: absolute;
    left: 6px;
    height: 620px;
    width: 1.5px;
    background-color: #343a40;
}
.tabsheader__bottom{
    margin-left: 25px;
    height: 1px;
    width: 305px;
    background-color: #363a3f;
}
.tabsitem{   
    font-size: 27px;
    margin-top: 15px;
    text-align: center;
    color: #363a3f;
}
.tabsitem:hover{
    cursor: pointer;
    border: none;
    color: #007bff;
}
.tabsitem_activ{
    font-size: 27px;
    font-weight: 700;   
    color:  #007bff;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.fade{
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade{
    from{opacity:0.3 ;}
    to{opacity: 1;}
}@media(max-width:1100px){
    .tab-img{
        width: 440px;
    }
    .tabsdescr{
        width: 400px;
    }
} 
.slides{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color:rgb(230, 230, 222);
    }
    .slides > span{
        margin: 0 auto;
        font-size:35px;
        color: #0000004a;
        position: absolute;
        top: 20px ;
    }
    .slides_descr{
    width: 25%;
    margin: 0 auto;
    } 
    .descr{
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: 600;
        margin-bottom: 100px;
    }
    .descr_activ{
        font-size: 23px;
        color: #d40808;
    }
    .slides{
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .slides_wrap{
        margin: 60px auto 0;
        width: 700px;
        height: 600px;
        position: relative;
        overflow: hidden;
    }
    .slide-nav{
        margin: 10px auto;
        display: flex;
        justify-content:space-around;
    }
    
    #current{
        font-size: 35px;
        font-weight: 700;
        color:#036ad7
    }
    #total{
    font-size: 30px;
    font-weight: 400;
    color: #505050;
    }
    #razd{
        font-size: 35px;
        font-weight: 700;
        color: #070606;
    }
    #r{
        font-size: 50px;
        color: #070606;
        cursor: pointer;
    }
    #l{
        width: 44px;
        font-size: 50px;
        cursor: pointer;
    }
    .slides_inner{
        display: flex;
    }
    
    .slide-img{
        background: url(../../img/slides/1.jpg) center center/cover no-repeat;
        width: 700px;
        height: 500px;
    }
    .img22{
        background: url(../../img/slides/2.jpg) center center/cover no-repeat;
    }
    .img33{
        background: url(../../img/slides/3.jpg) center center/cover no-repeat;
    }
    .img44{
        background: url(../../img/slides/4.jpg) center center/cover no-repeat;
    }
    .carousel-indicators {
        position: absolute;
        bottom: 30px;
        left: 150px;
        display: flex;
        list-style: none;
    }
    .dot {
        border-radius: 10px;
        margin-right: 15px;
        width: 40px;
        height: 10px;
        cursor: pointer;
        background-color: #fff;
        opacity: .3;
        transition: opacity .6s ease;
    }
.cards{
    background-color: rgb(231, 231, 231);
    height: 640px;
    text-align: center;
}
.oup{
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
}
.cards > span {
    padding: 50px;
    font-size: 40px;
}
.cards_wrap{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    margin: 0 auto;
    width: 300px;
    height: 525px;
    box-shadow: 0 0 10px 0 rgb(118, 115, 115);
    border-radius: 10px;
    border: none;
    transition: all 0.2s ease;
    
}
.card:hover{
    box-shadow:0 0 15px 7px gray;
    cursor: pointer;
}
.card-img {
    width: 300px;
    height:300px;
    border-radius: 10px;
    background: url(../../img/A1.jpg) center center/cover no-repeat;
}
.img2{
    background: url(../../img/A3.jpg) center center/cover no-repeat;
}
.img3{
    background: url(../../img/A5.jpg) center center/cover no-repeat;
}
.card-title{
    margin: 10px auto 0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #007bff;
}
.card-descr{
    padding: 10px;
    font-size: 20px;
}
.card-price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    font-weight: 600;
    font-size: 20px;
}
.span {
    color: #df0101;
    font-size: 26px;
    margin-right: 20px;
}