@import "src/sass/_vars"
@import "src/sass/_mixins"
.header
    min-height: 100px
    max-width: 100%
    background-color:#f5f2f2
    @include flex-between
    position: relative
    .navigation-column
        position: absolute
        left: 15%
        top: 10px
        height: 90%
        width: 1px
        background-color: black
    .navigation-bottom
        position: absolute
        left: 5%
        bottom: 35px
        height: 1px
        width: 75%
        background-color: black
    .logo
        margin: 5px auto
        width: 7%
        height: 8vh
        cursor: pointer
        background: url(../../img/logo.png) $center-cover
        position: relative
        z-index: 3
        transition: all 0.2s linear
        @media(max-width: 1200px)
            width: 10%
            height: 6vh
        &:hover
            transform: scale(0.96, 0.96)
            background-color: #e9e9e9
    .navigation
        margin: 20px 0 35px
        width: 60%
        min-height: 70px
        display: flex
        justify-content: space-evenly
        color:  #363a3f
        position: relative
        @media( max-width: 1200px )
            margin-top: 20px
        .nav-item
            padding-left: 20px
            margin: 0 15px
            width: 25%
            color:  #626363
            font-size: 20px
            font-weight: 400
            transition: all 0.2s linear
            text-decoration: none
            display: flex
            align-items: center
            position: relative
            z-index: 3
            @media( max-width: 1200px )
                width: 55%
            i 
                margin-right: 10px
            &:hover
                background:  #4c4d4d40
                border-radius: 15px
        .cards-category
            margin-bottom: 3px
            position: absolute
            display: flex
            width: 15%
            height: 30px
            right: 20px
            bottom: -33px
            @media(max-width: 1200px)
                position: absolute
                top: 100%
                left: 70%
            .category-item
                padding: 10px
                width: 100%
                display: flex
                align-items: center
                text-decoration: none
                font-size: 20px
                color: #343a40
                margin-right: 30px
                i
                    margin-right: 5px
                &:hover
                    color: #016de0
                    background:  #4c4d4d40
                    border-radius: 5px
            .active-catalog
                color: #016de0
                font-weight: 600
                font-size: 22px
                text-decoration: underline
        .hide
            display: none        
        .active-item
            color: #016de0
            font-weight: 600
            text-decoration: underline
    .btn-contact
        margin: 30px auto 0
        width: 200px
        height: 52px
        border: none
        background-color: rgb(207, 204, 204)
        box-shadow: 0 0 10px 2px rgb(115, 115, 115)
        color: #363a3f
        transition: all 0.2s linear
        font-size: 20px
        position: relative
        z-index: 3
        @media(max-width: 800px)
            width: 160px
            font-size: 16px
        &:hover
            background-color: #343a40
            color: #fdfdfd
            transform: scale(0.97)
.header-bottom
    background-color:  #363a3f
    height: 30px
    position: relative
    z-index: 3
@media(max-width: 1200px)
    .header
        min-height: 160px
        .logo
            margin-top: 50px
        .navigation
            flex-direction: column
            .nav-item
                margin-bottom: 5px
        .cards-category
            position: absolute
            top: 180%
            left: 60%
